@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@* 
<Card Title="My Custom Card Title">
    <h1>This is the content of the card.</h1>
    <p>The content comes from Parent</p>
    <ul>
        <li>First</li>
        <li>Second</li>
        <li>Third</li>
        <li>Fourth</li>
    </ul>
</Card> *@

@* <MyCards>
    @* The below will throw error as we are not using Header parameter to pass content.
        this is because MyCards component does not have ChildContent parameter defined.
       <h2>Hi I am not using Childcontent.</h2>
    <p>Check..........</p> 

    <Header>
        <h2>This is Header content from Parent component.</h2>
        <p>This content is passed to MyCards component using Header parameter.</p
    </Header>

    <Body>
        <h3>This is Body content from Parent component.</h3>
        <p>This content is passed to MyCards component using Body parameter.</p>
    </Body>

    <Footer>
        <h4>This is Footer content from Parent component.</h4>
        <p>This content is passed to MyCards component using Footer parameter.</p>
    </Footer>
</MyCards> *@

<Parent/>
